@import url(./main.css);

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: var(--bt-shift);
    background-color: var(--nav-font);
    margin-top: var(--tp-shift);
}

.topBar {
    position: relative;
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
}

.btnBack {
    position: absolute;
    left: 0;
}

.sectionTitle {
    font-size: var(--section-title-font);
    color: var(--main-text);
    margin: auto;
}
