<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add tea</title>
    <link href="../styles/add_tea.css" type="text/css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
            rel="stylesheet">
</head>
<body>

<!-- Background details -->
<img src="../resources/images/behind_logo.svg" class="bulb" alt="behind logo">
<img src="../resources/images/bg_wave.svg" alt="wave" class="wave">
<img src="../resources/images/tea_leaf.svg" alt="leaf" class="leaf">
<img src="../resources/images/tea_leaf_top.svg" alt="leaf" class="leafTop">

<div class="container">

    <!-- DON'T TOUCH -->
    <header>
        <nav>
            <ul>
                <li><a class="inactiveLink" href="./index.html">info</a><img
                        src="../resources/images/nav_bullet.svg" alt="circle"></li>
                <li><a class="inactiveLink" href="./market.html">market</a><img
                        src="../resources/images/nav_bullet.svg" alt="circle"></li>
                <li><a class="inactiveLink" href="profile.html">drops</a><img
                        src="../resources/images/nav_bullet.svg" alt="circle"></li>
                <li><a class="activeLink" href="./profile.html">profile</a><img
                        src="../resources/images/nav_bullet.svg" alt="circle"></li>
            </ul>
        </nav>
        <p>.teafy</p>
    </header>
    <!-- DON'T TOUCH -->

    <main>
        <div class="topBar">
            <button class="btnBack">BACK</button>
            <span class="sectionTitle">Add tea</span>
        </div>
        <div class="wrapper">
            <div class="left">
                <div class="heading">Fill the data, when You have ID</div>
                <div class="form">
                    <div class="formItem">
                        <p class="formTitle">Tea name</p>
                        <label>
                            <input type="text" class="textEdit" placeholder="Tea name">
                        </label>
                    </div>
                    <div class="formItem">
                        <p class="formTitle">Country of origin</p>
                        <label>
                            <input type="text" class="textEdit" placeholder="Country of origin">
                        </label>
                    </div>
                    <div class="formItem">
                        <p class="formTitle">Description</p>
                        <label>
                            <input type="text" class="textEdit" placeholder="Description">
                        </label>
                    </div>
                    <div class="formItem">
                        <p class="formTitle">Package ID</p>
                        <label>
                            <input type="text" class="textEdit" placeholder="Package ID">
                        </label>
                    </div>
                    <div class="btnStrongActPos">
                        <button>CONFIRM</button>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="heading">Choose Your country and send the package</div>
                <div class="searchBar">
                    <label id="searchField">
                        <input type="text" class="search" placeholder="Input country">
                        <button class="btnActRed" type="submit">SEARCH</button>
                    </label>
                </div>
                <div class="info">
                    <a href="#">Mrs Smith 813 Howard Street Oswego NY 13126 USA</a>
                    <a href="#">Mrs Smith 813 Howard Street Oswego NY 13126 USA</a>
                    <a href="#">Mrs Smith 813 Howard Street Oswego NY 13126 USA</a>
                    <a href="#">Mrs Smith 813 Howard Street Oswego NY 13126 USA</a>
                </div>
            </div>
        </div>
    </main>

</div>

</body>
</html>