{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add card</title>
    <link href="{% static 'add_card.css' %}" type="text/css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
            rel="stylesheet">
</head>
<body>
<!-- Background details -->
<img
        src="{% static 'images/behind_logo.svg' %}"
        class="bulb"
        alt="behind logo"
/>
<img src="{% static 'images/bg_wave.svg' %}" alt="wave" class="wave"/>
<img src="{% static 'images/tea_leaf.svg' %}" alt="leaf" class="leaf"/>
<img
        src="{% static 'images/tea_leaf_top.svg' %}"
        alt="leaf"
        class="leafTop"
/>

<div class="container">
    <!-- DON'T TOUCH -->
    <header>
        <nav>
            <ul>
                <li>
                    <a class="activeLink" href="{% url 'info' %}">info</a
                    ><img src="{% static 'images/nav_bullet.svg' %}" alt="circle"/>
                </li>
                <li>
                    <a class="inactiveLink" href="{% url 'market' %}">market</a
                    ><img src="{% static 'images/nav_bullet.svg' %}" alt="circle"/>
                </li>
                <li>
                    <a class="inactiveLink" href="{% url 'drops' %}">drops</a
                    ><img src="{% static 'images/nav_bullet.svg' %}" alt="circle"/>
                </li>
                <li>
                    <a class="inactiveLink" href="{% url 'profile' %}">profile</a
                    ><img src="{% static 'images/nav_bullet.svg' %}" alt="circle"/>
                </li>
            </ul>
        </nav>
        <p>.teafy</p>
    </header>
    <!-- DON'T TOUCH -->

        <main>
            <div class="topBar">
                <button class="btnBack">BACK</button>
                <span class="sectionTitle">Add card</span>
            </div>
            <div class="form">
                <div class="formItem">
                    <p class="formTitle">Card number</p>
                    <label>
                        <input type="text" class="textEdit" placeholder="Card number">
                    </label>
                </div>
                <div class="formItem">
                    <p class="formTitle">Card date</p>
                    <label>
                        <input type="text" class="textEdit" placeholder="Card date">
                    </label>
                </div>
                <div class="formItem">
                    <p class="formTitle">CVV code</p>
                    <label>
                        <input type="text" class="textEdit" placeholder="CVV code">
                    </label>
                </div>
                <div class="btnStrongActPos">
                    <button>CONFIRM</button>
                </div>
            </div>
        </main>

    </div>

</body>
</html>