<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cards</title>
    <link href="../styles/cards.css" type="text/css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
            rel="stylesheet">
</head>
<body>

<!-- Background details -->
<img src="../resources/images/behind_logo.svg" class="bulb" alt="behind logo">
<img src="../resources/images/bg_wave.svg" alt="wave" class="wave">
<img src="../resources/images/tea_leaf.svg" alt="leaf" class="leaf">
<img src="../resources/images/tea_leaf_top.svg" alt="leaf" class="leafTop">

<div class="container">

    <!-- DON'T TOUCH -->
    <header>
        <nav>
            <ul>
                <li><a class="inactiveLink" href="./index.html">info</a><img
                        src="../resources/images/nav_bullet.svg" alt="circle"></li>
                <li><a class="inactiveLink" href="./market.html">market</a><img
                        src="../resources/images/nav_bullet.svg" alt="circle"></li>
                <li><a class="inactiveLink" href="drops.html">drops</a><img
                        src="../resources/images/nav_bullet.svg" alt="circle"></li>
                <li><a class="activeLink" href="./profile.html">profile</a><img
                        src="../resources/images/nav_bullet.svg" alt="circle"></li>
            </ul>
        </nav>
        <p>.teafy</p>
    </header>
    <!-- DON'T TOUCH -->

    <main>
        <div class="topBar">
            <button class="btnBack">BACK</button>
            <span class="sectionTitle">Cards</span>
        </div>
        <div class="cards">
            <div class="cardItems">
                <div class="listItem">
                    <div class="textSection">
                        <p class="cardNumber">**** **** **** 3422</p>
                        <span class="chooser chosen"></span>
                    </div>
                    <button class="btnPos">CHOOSE</button>
                    <button class="btnNeg">REMOVE</button>
                </div>
                <div class="listItem">
                    <div class="textSection">
                        <p class="cardNumber">**** **** **** 3422</p>
                        <span class="chooser"></span>
                    </div>
                    <button class="btnPos">CHOOSE</button>
                    <button class="btnNeg">REMOVE</button>
                </div>
                <div class="listItem">
                    <div class="textSection">
                        <p class="cardNumber">**** **** **** 3422</p>
                        <span class="chooser"></span>
                    </div>
                    <button class="btnPos">CHOOSE</button>
                    <button class="btnNeg">REMOVE</button>
                </div>
            </div>
            <div class="btnStrongAct">
                <form action="./add_card.html">
                    <button>ADD CARD</button>
                </form>
            </div>
        </div>
    </main>

</div>

</body>
</html>