{% extends 'source/base.html' %}
{% load static %}
{% block title %}Cards{% endblock %}
{% block styles %}{% static 'cards.css' %}{% endblock %}
{% block linkStyle4 %}active{% endblock %}

{% block content %}
        <div class="topBar">
            <button class="btnBack">BACK</button>
            <span class="sectionTitle">Cards</span>
        </div>
        <div class="cards">
            <div class="cardItems">
                <div class="listItem">
                    <div class="textSection">
                        <p class="cardNumber">**** **** **** 3422</p>
                        <span class="chooser chosen"></span>
                    </div>
                    <button class="btnPos">CHOOSE</button>
                    <button class="btnNeg">REMOVE</button>
                </div>
                <div class="listItem">
                    <div class="textSection">
                        <p class="cardNumber">**** **** **** 3422</p>
                        <span class="chooser"></span>
                    </div>
                    <button class="btnPos">CHOOSE</button>
                    <button class="btnNeg">REMOVE</button>
                </div>
                <div class="listItem">
                    <div class="textSection">
                        <p class="cardNumber">**** **** **** 3422</p>
                        <span class="chooser"></span>
                    </div>
                    <button class="btnPos">CHOOSE</button>
                    <button class="btnNeg">REMOVE</button>
                </div>
            </div>
            <div class="btnStrongAct">
                <form action="./add_card.html">
                    <button>ADD CARD</button>
                </form>
            </div>
        </div>
{% endblock %}