{% extends 'source/base.html' %}
{% load static %}
{% block title %}Cards{% endblock %}
{% block styles %}{% static 'cards.css' %}{% endblock %}
{% block linkStyle4 %}active{% endblock %}

{% block content %}
    <div class="topBar">
        <form action="{% url 'profile' %}">
            <button class="btnBack">BACK</button>
        </form>
        <span class="sectionTitle">Cards</span>
    </div>
    <div class="cards">
        <div class="cardItems">
            {% for card in card_items %}
                <div class="listItem">
                    <div class="textSection">
                        <p class="cardNumber">{{ card.number }}</p>
                        <span class="chooser {% if card.active %}chosen{% endif %}"></span>
                    </div>
                    <form action="chooseCard/{{ card.id }}">
                        <button class="btnPos">CHOOSE</button>
                    </form>
                    <form action="removeCard/{{ card.id }}">
                        <button class="btnNeg">REMOVE</button>
                    </form>
                </div>
            {% endfor %}
        </div>
        <div class="btnStrongAct">
            <form action=".{% url 'addCard' %}">
                <button>ADD CARD</button>
            </form>
        </div>
    </div>
{% endblock %}