{% extends 'source/base.html' %}
{% load static %}
{% block title %}Cart{% endblock %}
{% block styles %}{% static 'cart.css' %}{% endblock %}
{% block linkStyle2 %}active{% endblock %}

{% block content %}
            <div class="topBar">
                <button class="btnBack">BACK</button>
                <span class="sectionTitle">Cart</span>
            </div>

            <div class="gridWrapper">
                <div class="items">
                    <div class="listItem added">
                        <div class="textSection">
                            <p class="title">Babylon, Indian tea</p>
                            <p class="price">15.99$</p>
                        </div>
                        <button class="btnNeg">REMOVE</button>
                    </div>

                    <div class="listItem removed">
                        <div class="textSection">
                            <p class="title">Babylon, Indian tea</p>
                            <p class="price">15.99$</p>
                        </div>
                        <button class="btnNeg">REMOVE</button>
                    </div>

                    <div class="listItem">
                        <div class="textSection">
                            <p class="title">Babylon, Indian tea</p>
                            <p class="price">15.99$</p>
                        </div>
                        <button class="btnNeg">REMOVE</button>
                    </div>

                    <div class="listItem">
                        <div class="textSection">
                            <p class="title">Babylon, Indian tea</p>
                            <p class="price">15.99$</p>
                        </div>
                        <button class="btnNeg">REMOVE</button>
                    </div>

                    <div class="listItem">
                        <div class="textSection">
                            <p class="title">Babylon, Indian tea</p>
                            <p class="price">15.99$</p>
                        </div>
                        <button class="btnNeg">REMOVE</button>
                    </div>

                    <div class="listItem">
                        <div class="textSection">
                            <p class="title">Babylon, Indian tea</p>
                            <p class="price">15.99$</p>
                        </div>
                        <button class="btnNeg">REMOVE</button>
                    </div>

                    <div class="listItem">
                        <div class="textSection">
                            <p class="title">Babylon, Indian tea</p>
                            <p class="price">15.99$</p>
                        </div>
                        <button class="btnNeg">REMOVE</button>
                    </div>
                    <div class="listItem">
                        <div class="textSection">
                            <p class="title">Babylon, Indian tea</p>
                            <p class="price">15.99$</p>
                        </div>
                        <button class="btnNeg">REMOVE</button>
                    </div>

                    <div class="listItem">
                        <div class="textSection">
                            <p class="title">Babylon, Indian tea</p>
                            <p class="price">15.99$</p>
                        </div>
                        <button class="btnNeg">REMOVE</button>
                    </div>

                    <div class="listItem">
                        <div class="textSection">
                            <p class="title">Babylon, Indian tea</p>
                            <p class="price">15.99$</p>
                        </div>
                        <button class="btnNeg">REMOVE</button>
                    </div>

                    <div class="listItem">
                        <div class="textSection">
                            <p class="title">Babylon, Indian tea</p>
                            <p class="price">15.99$</p>
                        </div>
                        <button class="btnNeg">REMOVE</button>
                    </div>

                    <div class="listItem">
                        <div class="textSection">
                            <p class="title">Babylon, Indian tea</p>
                            <p class="price">15.99$</p>
                        </div>
                        <button class="btnNeg">REMOVE</button>
                    </div>

                    <div class="listItem">
                        <div class="textSection">
                            <p class="title">Babylon, Indian tea</p>
                            <p class="price">15.99$</p>
                        </div>
                        <button class="btnNeg">REMOVE</button>
                    </div>

                    <div class="listItem">
                        <div class="textSection">
                            <p class="title">Babylon, Indian tea</p>
                            <p class="price">15.99$</p>
                        </div>
                        <button class="btnNeg">REMOVE</button>
                    </div>

                    <div class="listItem">
                        <div class="textSection">
                            <p class="title">Babylon, Indian tea</p>
                            <p class="price">15.99$</p>
                        </div>
                        <button class="btnNeg">REMOVE</button>
                    </div>

                    <div class="listItem">
                        <div class="textSection">
                            <p class="title">Babylon, Indian tea</p>
                            <div class="stats"><span class="mark markExcellent">9.3</span>/<span
                                    class="orders">132</span></div>
                            <p class="price">15.99$</p>
                        </div>
                        <button class="btnNeg">REMOVE</button>
                    </div>

                    <div class="listItem">
                        <div class="textSection">
                            <p class="title">Babylon, Indian tea</p>
                            <p class="price">15.99$</p>
                        </div>
                        <button class="btnNeg">REMOVE</button>
                    </div>

                    <div class="listItem">
                        <div class="textSection">
                            <p class="title">Babylon, Indian tea</p>
                            <p class="price">15.99$</p>
                        </div>
                        <button class="btnNeg">REMOVE</button>
                    </div>

                    <div class="listItem">
                        <div class="textSection">
                            <p class="title">Babylon, Indian tea</p>
                            <p class="price">15.99$</p>
                        </div>
                        <button class="btnNeg">REMOVE</button>
                    </div>

                </div>
            </div>

            <div class="bottom">
                <p><strong>Total: 129.99$</strong></p>
                <div class="actions">
                    <div class="btnStrongActNeg">
                        <button>CLEAR ALL</button>
                    </div>
                    <div class="btnStrongActPos">
                        <button>CONFIRM PAYMENT</button>
                    </div>
                </div>
            </div>
{% endblock %}