<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change profile</title>
    <link href="../styles/change_profile.css" type="text/css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
            rel="stylesheet">
</head>
<body>

<!-- Background details -->
<img src="../resources/images/behind_logo.svg" class="bulb" alt="behind logo">
<img src="../resources/images/bg_wave.svg" alt="wave" class="wave">
<img src="../resources/images/tea_leaf.svg" alt="leaf" class="leaf">
<img src="../resources/images/tea_leaf_top.svg" alt="leaf" class="leafTop">

<div class="container">

    <!-- DON'T TOUCH -->
    <header>
        <nav>
            <ul>
                <li><a class="inactiveLink" href="./index.html">info</a><img
                        src="../resources/images/nav_bullet.svg" alt="circle"></li>
                <li><a class="inactiveLink" href="./market.html">market</a><img
                        src="../resources/images/nav_bullet.svg" alt="circle"></li>
                <li><a class="inactiveLink" href="profile.html">drops</a><img
                        src="../resources/images/nav_bullet.svg" alt="circle"></li>
                <li><a class="activeLink" href="./profile.html">profile</a><img
                        src="../resources/images/nav_bullet.svg" alt="circle"></li>
            </ul>
        </nav>
        <p>.teafy</p>
    </header>
    <!-- DON'T TOUCH -->

    <main>
        <div class="topBar">
            <button class="btnBack">BACK</button>
            <span class="sectionTitle">Change profile</span>
        </div>

        <div class="info">
            <div class="space left">
                <div class="profileData">
                    <p><strong>Nickname: </strong>teafy</p>
                    <p><strong>Name: </strong>Ivan</p>
                    <p><strong>Surname: </strong>Orlovskiy</p>
                    <p><strong>Address: </strong>Belarus, Minsk, st. Vostochnaya</p>
                    <p><strong>Rating: </strong>9.3</p>
                    <p><strong>Orders: </strong>15</p>
                    <p><strong>Registered on: </strong>15 May 2022</p>
                </div>
                <div class="actions">

                </div>
            </div>
            <div class="space right">
                RIGHT
            </div>
        </div>
    </main>

</div>

</body>
</html>