{% extends 'source/base.html' %}
{% load static %}
{% block title %}Change profile{% endblock %}
{% block styles %}{% static 'change_profile.css' %}{% endblock %}
{% block linkStyle4 %}active{% endblock %}

{% block content %}
        <div class="topBar">
            <button class="btnBack">BACK</button>
            <span class="sectionTitle">Change profile</span>
        </div>

        <div class="info">
            <div class="space left">
                <div class="profileData">
                    <p><strong>Email: </strong>studyorlik@gmail.com</p>
                    <p><strong>Name: </strong>Ivan</p>
                    <p><strong>Surname: </strong>Orlovskiy</p>
                    <p><strong>Address: </strong>Belarus, Minsk, st. Vostochnaya</p>
                    <p><strong>Rating: </strong>9.3</p>
                    <p><strong>Orders: </strong>15</p>
                    <p><strong>Registered on: </strong>15 May 2022</p>
                </div>
                <div class="actions">
                    <button class="btnActRed">LOG OUT</button>
                    <button class="btnActRed red">DELETE</button>
                </div>
            </div>
            <div class="space right">
                <div class="buttons">
                    <div class="btnNeut">
                        <button>USER AGREEMENT</button>
                    </div>
                    <div class="btnNeut">
                        <button>PRIVACY POLICY</button>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}