{% extends 'source/base.html' %}
{% load static %}
{% block title %}Your collection{% endblock %}
{% block styles %}{% static 'collection.css' %}{% endblock %}
{% block linkStyle4 %}active{% endblock %}

{% block content %}
    <div class="topBar">
        <form action="javascript:history.go(-1)">
            <button class="btnBack">BACK</button>
        </form>
        <span class="sectionTitle">Tea collection</span>
    </div>

    <div class="gridWrapper">
        <div class="items">
            <div class="listItem">
                <div class="textSection">
                    <p class="title">Babylon, Indian tea</p>
                </div>
                <button class="btnPos customBtn voteBnt">VOTE</button>
                <button class="btnPos customBtn">SHIP</button>
                <button class="btnNeg customBtn">REMOVE</button>
            </div>
            <div class="listItem">
                <div class="textSection">
                    <p class="title">Babylon, Indian tea</p>
                </div>
                <button class="btnPos customBtn voteBnt">VOTE</button>
                <button class="btnPos customBtn">SHIP</button>
                <button class="btnNeg customBtn">REMOVE</button>
            </div>
            <div class="listItem pending">
                <div class="textSection">
                    <p class="title">Babylon, Indian tea</p>
                </div>
                <button class="btnPos customBtn voteBnt">VOTE</button>
                <button class="btnPos customBtn">SHIP</button>
                <button class="btnNeg customBtn">REMOVE</button>
            </div>
            <div class="listItem">
                <div class="textSection">
                    <p class="title">Babylon, Indian tea</p>
                </div>
                <button class="btnPos customBtn">SHIP</button>
                <button class="btnNeg customBtn">REMOVE</button>
            </div>
            <div class="listItem">
                <div class="textSection">
                    <p class="title">Babylon, Indian tea</p>
                </div>
                <button class="btnPos customBtn voteBnt">VOTE</button>
                <button class="btnPos customBtn">SHIP</button>
                <button class="btnNeg customBtn">REMOVE</button>
            </div>
            <div class="listItem pending">
                <div class="textSection">
                    <p class="title">Babylon, Indian tea</p>
                </div>
                <button class="btnPos customBtn voteBnt">VOTE</button>
                <button class="btnPos customBtn">SHIP</button>
                <button class="btnNeg customBtn">REMOVE</button>
            </div>
            <div class="listItem">
                <div class="textSection">
                    <p class="title">Babylon, Indian tea</p>
                </div>
                <button class="btnPos customBtn voteBnt">VOTE</button>
                <button class="btnPos customBtn">SHIP</button>
                <button class="btnNeg customBtn">REMOVE</button>
            </div>
            <div class="listItem">
                <div class="textSection">
                    <p class="title">Babylon, Indian tea</p>
                </div>
                <button class="btnPos customBtn">SHIP</button>
                <button class="btnNeg customBtn">REMOVE</button>
            </div>
            <div class="listItem pending">
                <div class="textSection">
                    <p class="title">Babylon, Indian tea</p>
                </div>
                <button class="btnPos customBtn voteBnt">VOTE</button>
                <button class="btnPos customBtn">SHIP</button>
                <button class="btnNeg customBtn">REMOVE</button>
            </div>
            <div class="listItem">
                <div class="textSection">
                    <p class="title">Babylon, Indian tea</p>
                </div>
                <button class="btnPos customBtn">SHIP</button>
                <button class="btnNeg customBtn">REMOVE</button>
            </div>
            <div class="listItem">
                <div class="textSection">
                    <p class="title">Babylon, Indian tea</p>
                </div>
                <button class="btnPos customBtn voteBnt">VOTE</button>
                <button class="btnPos customBtn">SHIP</button>
                <button class="btnNeg customBtn">REMOVE</button>
            </div>
            <div class="listItem pending">
                <div class="textSection">
                    <p class="title">Babylon, Indian tea</p>
                </div>
                <button class="btnPos customBtn voteBnt">VOTE</button>
                <button class="btnPos customBtn">SHIP</button>
                <button class="btnNeg customBtn">REMOVE</button>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="btnStrongAct">
            <form action="./add_tea.html">
                <button>ADD TEA TO COLLECTION</button>
            </form>
        </div>
    </div>
{% endblock %}
