{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <link href="{% static 'drops.css' %}" type="text/css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
            rel="stylesheet">
</head>
<body>
<!-- Background details -->
<img
        src="{% static 'images/behind_logo.svg' %}"
        class="bulb"
        alt="behind logo"
/>
<img src="{% static 'images/bg_wave.svg' %}" alt="wave" class="wave"/>
<img src="{% static 'images/tea_leaf.svg' %}" alt="leaf" class="leaf"/>
<img
        src="{% static 'images/tea_leaf_top.svg' %}"
        alt="leaf"
        class="leafTop"
/>

<div class="container">
    <!-- DON'T TOUCH -->
    <header>
        <nav>
            <ul>
                <li>
                    <a class="activeLink" href="./index.html">info</a
                    ><img src="{% static 'images/nav_bullet.svg' %}" alt="circle"/>
                </li>
                <li>
                    <a class="inactiveLink" href="./market.html">market</a
                    ><img src="{% static 'images/nav_bullet.svg' %}" alt="circle"/>
                </li>
                <li>
                    <a class="activeLink" href="drops.html">drops</a
                    ><img src="{% static 'images/nav_bullet.svg' %}" alt="circle"/>
                </li>
                <li>
                    <a class="inactiveLink" href="./profile.html">profile</a
                    ><img src="{% static 'images/nav_bullet.svg' %}" alt="circle"/>
                </li>
            </ul>
        </nav>
        <p>.teafy</p>
    </header>
    <!-- DON'T TOUCH -->

    <main>
        <p class="heading">Latest drops...</p>

        <div class="gridWrapper">
            <div class="items">
                <div class="dropItem">
                    <p class="dropTitle">Big pack of Indian tea arrived!</p>
                    <p class="dropInfo">New pack of fresh Indian tea has
                        arrived to our stock!
                        Average price is between 10-20$.
                        The most interesting instance from
                        the pack is Big Elephant, which is
                        known for its unique taste and...</p>
                    <p class="date">May 16, 2022</p>
                    <div class="bottom">
                        <p class="votes">+120</p>
                        <button class="btnActRed">MORE</button>
                    </div>
                </div>
                <div class="dropItem">
                    <p class="dropTitle">Big pack of Indian tea arrived!</p>
                    <p class="dropInfo">New pack of fresh Indian tea has
                        arrived to our stock!
                        Average price is between 10-20$.
                        The most interesting instance from
                        the pack is Big Elephant, which is
                        known for its unique taste and...</p>
                    <p class="date">May 16, 2022</p>
                    <div class="bottom">
                        <p class="votes">+120</p>
                        <button class="btnActRed">MORE</button>
                    </div>
                </div>
                <div class="dropItem">
                    <p class="dropTitle">Big pack of Indian tea arrived!</p>
                    <p class="dropInfo">New pack of fresh Indian tea has
                        arrived to our stock!
                        Average price is between 10-20$.
                        The most interesting instance from
                        the pack is Big Elephant, which is
                        known for its unique taste and...</p>
                    <p class="date">May 16, 2022</p>
                    <div class="bottom">
                        <p class="votes">+120</p>
                        <button class="btnActRed">MORE</button>
                    </div>
                </div>
                <div class="dropItem">
                    <p class="dropTitle">Big pack of Indian tea arrived!</p>
                    <p class="dropInfo">New pack of fresh Indian tea has
                        arrived to our stock!
                        Average price is between 10-20$.
                        The most interesting instance from
                        the pack is Big Elephant, which is
                        known for its unique taste and...</p>
                    <p class="date">May 16, 2022</p>
                    <div class="bottom">
                        <p class="votes">+120</p>
                        <button class="btnActRed">MORE</button>
                    </div>
                </div>
                <div class="dropItem">
                    <p class="dropTitle">Big pack of Indian tea arrived!</p>
                    <p class="dropInfo">New pack of fresh Indian tea has
                        arrived to our stock!
                        Average price is between 10-20$.
                        The most interesting instance from
                        the pack is Big Elephant, which is
                        known for its unique taste and...</p>
                    <p class="date">May 16, 2022</p>
                    <div class="bottom">
                        <p class="votes">+120</p>
                        <button class="btnActRed">MORE</button>
                    </div>
                </div>
                <div class="dropItem">
                    <p class="dropTitle">Big pack of Indian tea arrived!</p>
                    <p class="dropInfo">New pack of fresh Indian tea has
                        arrived to our stock!
                        Average price is between 10-20$.
                        The most interesting instance from
                        the pack is Big Elephant, which is
                        known for its unique taste and...</p>
                    <p class="date">May 16, 2022</p>
                    <div class="bottom">
                        <p class="votes">+120</p>
                        <button class="btnActRed">MORE</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="mainBottom">
            <form action="./add_drop.html">
                <div class="btnStrongAct nullMargin">
                    <button>ADD DROP</button>
                </div>
            </form>
            <div class="sort">
                <div class="btnStrongAct">
                    <button>RECENT FIRST</button>
                </div>
                <div class="btnStrongAct">
                    <button>POPULAR FIRST</button>
                </div>
            </div>
        </div>
    </main>

</div>

</body>
</html>