{% extends 'source/base.html' %}
{% load static %}
{% block title %}Drop title{% endblock %}
{% block styles %}{% static 'drop_info.css' %}{% endblock %}
{% block linkStyle3 %}active{% endblock %}

{% block content %}
        <div class="topBar">
          <button class="btnBack">BACK</button>
          <span class="sectionTitle">Drop title</span>
        </div>

        <div class="wrapper">
          <p class="dropData">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam odit
            nulla numquam, consequuntur alias debitis dolorum ipsam illo eaque
            illum porro eos? Eum quae amet quaerat nesciunt officia, nostrum
            voluptatum sit optio in eos commodi vel neque, numquam quo earum
            aliquid repellat, soluta voluptatibus sint molestiae ducimus
            eveniet. A, eveniet! Saepe molestiae, eos excepturi amet numquam
            odit, architecto ullam ipsum, sit fugit dolores totam voluptatibus
            odio? Magni dolorum hic quam quo iusto quae. Dolores iste ab eos
            explicabo eveniet quidem eius temporibus fugit inventore
            perferendis, repellendus dolor aut iusto natus minus quos ipsa ipsum
            ut molestias optio maiores quas distinctio accusantium. Amet maiores
            sequi voluptates tempora enim, suscipit doloremque quisquam earum
            animi fuga eius. Velit fugit exercitationem sit voluptates
            necessitatibus voluptate in quis magni a, voluptatum deserunt quae
            asperiores obcaecati, vero eveniet adipisci accusamus porro facilis.
            Voluptates, blanditiis, veniam repellat odio molestias perferendis
            veritatis totam libero, soluta cumque ipsa. Cumque numquam porro
            atque a reiciendis obcaecati quidem? Rem nam, reiciendis non harum
            impedit odit nobis quis, repudiandae vero porro, repellendus vitae.
            Tenetur impedit non quaerat distinctio, ab perferendis beatae a
            alias, possimus ratione ut omnis recusandae ipsa quia molestiae amet
            animi vitae maxime quis eius mollitia blanditiis! Corporis, sapiente
            harum!
          </p>

          <div class="votingActions">
            <div class="btnStrongActPos null marbot">
              <button>UPVOTE</button>
            </div>
            <p class="votes marbot">+129</p>
            <div class="btnStrongActNeg null marbot">
              <button>DOWNVOTE</button>
            </div>
          </div>
        </div>

        <div class="date">
          <p>May 16, 2022</p>
        </div>
{% endblock %}
