{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Teafy</title>
    <link href="{% static 'index.css' %}" type="text/css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
            rel="stylesheet"
    />
</head>

<body>
<!-- Background details -->
<img
        src="{% static 'images/behind_logo.svg' %}"
        class="bulb"
        alt="behind logo"
/>
<img src="{% static 'images/bg_wave.svg' %}" alt="wave" class="wave"/>
<img src="{% static 'images/tea_leaf.svg' %}" alt="leaf" class="leaf"/>
<img
        src="{% static 'images/tea_leaf_top.svg' %}"
        alt="leaf"
        class="leafTop"
/>

<div class="container">
    <!-- DON'T TOUCH -->
    <header>
        <nav>
            <ul>
                <li>
                    <a class="activeLink" href="{% url 'info' %}">info</a
                    ><img src="{% static 'images/nav_bullet.svg' %}" alt="circle"/>
                </li>
                <li>
                    <a class="inactiveLink" href="{% url 'market' %}">market</a
                    ><img src="{% static 'images/nav_bullet.svg' %}" alt="circle"/>
                </li>
                <li>
                    <a class="inactiveLink" href="{% url 'drops' %}">drops</a
                    ><img src="{% static 'images/nav_bullet.svg' %}" alt="circle"/>
                </li>
                <li>
                    <a class="inactiveLink" href="{% url 'profile' %}">profile</a
                    ><img src="{% static 'images/nav_bullet.svg' %}" alt="circle"/>
                </li>
            </ul>
        </nav>
        <p>.teafy</p>
    </header>
    <!-- DON'T TOUCH -->

    <main>
        <div class="topBlock">
            <div class="leftPart">
                <p>
                    <strong>Teafy</strong> is a marketplace as well as community for
                    tealovers all around the <strong>GLOBE</strong>
                </p>
                <form action="./drops.html">
                    <button class="btnActRed">MORE</button>
                </form>
            </div>
            <div class="rightPart">
                <div class="sectTitle">
                    <p class="bigTitle">Recent market updates</p>
                </div>
                <div class="items">
                    <div class="listItem">
                        <div class="textSection">
                            <p class="title">Babylon, Indian tea</p>
                            <p class="price">15.99$</p>
                        </div>
                        <button class="btnPos">ADD</button>
                    </div>
                    <div class="listItem">
                        <div class="textSection">
                            <p class="title">Babylon, Indian tea</p>
                            <p class="price">15.99$</p>
                        </div>
                        <button class="btnPos">ADD</button>
                    </div>
                    <div class="listItem">
                        <div class="textSection">
                            <p class="title">Babylon, Indian tea</p>
                            <p class="price">15.99$</p>
                        </div>
                        <button class="btnPos">ADD</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottomBlock">
            <div class="btnNeut">
                <form action="./market.html">
                    <button>FIND YOUR TEA</button>
                </form>
            </div>

            <div class="social">
                <button class="btnActRed">
                    <a href="https://www.google.com/">
                        <img src="{% static 'images/google_sign.svg' %}" alt="google"/>
                    </a>
                </button>
                <button class="btnActRed">
                    <a href="https://github.com/Orlikoff/">
                        <img src="{% static 'images/git_sign.svg' %}" alt="git"/>
                    </a>
                </button>
                <button class="btnActRed">
                    <a href="https://www.vk.com/">
                        <img src="{% static 'images/vk_sign.svg' %}" alt="vk"/>
                    </a>
                </button>
            </div>

            <div class="authRequest">
                <p class="title">
                    Become a part of the<br/>
                    <strong>Greatest tea community</strong>
                </p>
                <div class="buttons">
                    <button class="btnActRed">SING UP</button>
                    <button class="btnBack">LOG IN</button>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>
