<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teafy</title>
    <link href="../styles/main.css" type="text/css" rel="stylesheet">
    <link href="../styles/index.css" type="text/css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>

<!-- Background details -->
<img src="../resources/images/behind_logo.svg" class="bulb" alt="behind logo">
<img src="../resources/images/bg_wave.svg" alt="wave" class="wave">
<img src="../resources/images/tea_leaf.svg" alt="leaf" class="leaf">
<img src="../resources/images/tea_leaf_top.svg" alt="leaf" class="leafTop">

<div class="container">

<header>
    <nav>
        <ul>
            <li><a class="inactiveLink" href="">info</a><img src="../resources/images/nav_bullet.svg" alt="circle"></li>
            <li><a class="inactiveLink" href="">market</a><img src="../resources/images/nav_bullet.svg" alt="circle"></li>
            <li><a class="inactiveLink" href="">drops</a><img src="../resources/images/nav_bullet.svg" alt="circle"></li>
            <li><a class="inactiveLink" href="">profile</a><img src="../resources/images/nav_bullet.svg" alt="circle"></li>
        </ul>
    </nav>
    <p>.teafy</p>
</header>

<main>
    <div class="topBlock">
        block
    </div>
</main>

</div>

</body>
</html>