{% extends 'source/base.html' %}
{% load static %}
{% block title %}Market{% endblock %}
{% block styles %}{% static 'market.css' %}{% endblock %}
{% block linkStyle2 %}active{% endblock %}

{% block content %}
        <div class="searchBar">
            <label id="searchField">
                <input type="text" class="search" placeholder="Input tea">
                <button class="btnActRed" type="submit">SEARCH</button>
            </label>
        </div>

        <div class="gridWrapper">
            <div class="items">
                <div class="listItem">
                    <div class="textSection">
                        <p class="title">Babylon, Indian tea</p>
                        <div class="stats"><span class="mark">9.3</span>/<span class="orders">132</span></div>
                        <p class="price">15.99$</p>
                    </div>
                    <button class="btnPos">ADD</button>
                </div>

                <div class="listItem">
                    <div class="textSection">
                        <p class="title">Babylon, Indian tea</p>
                        <div class="stats"><span class="mark">9.3</span>/<span class="orders">132</span></div>
                        <p class="price">15.99$</p>
                    </div>
                    <button class="btnPos">ADD</button>
                </div>

                <div class="listItem">
                    <div class="textSection">
                        <p class="title">Babylon, Indian tea</p>
                        <div class="stats"><span class="mark">9.3</span>/<span class="orders">132</span></div>
                        <p class="price">15.99$</p>
                    </div>
                    <button class="btnPos">ADD</button>
                </div>

                <div class="listItem">
                    <div class="textSection">
                        <p class="title">Babylon, Indian tea</p>
                        <div class="stats"><span class="mark">9.3</span>/<span class="orders">132</span></div>
                        <p class="price">15.99$</p>
                    </div>
                    <button class="btnPos">ADD</button>
                </div>

                <div class="listItem">
                    <div class="textSection">
                        <p class="title">Babylon, Indian tea</p>
                        <div class="stats"><span class="mark">9.3</span>/<span class="orders">132</span></div>
                        <p class="price">15.99$</p>
                    </div>
                    <button class="btnPos">ADD</button>
                </div>

                <div class="listItem">
                    <div class="textSection">
                        <p class="title">Babylon, Indian tea</p>
                        <div class="stats"><span class="mark">9.3</span>/<span class="orders">132</span></div>
                        <p class="price">15.99$</p>
                    </div>
                    <button class="btnPos">ADD</button>
                </div>

                <div class="listItem">
                    <div class="textSection">
                        <p class="title">Babylon, Indian tea</p>
                        <div class="stats"><span class="mark">9.3</span>/<span class="orders">132</span></div>
                        <p class="price">15.99$</p>
                    </div>
                    <button class="btnPos">ADD</button>
                </div>
                <div class="listItem">
                    <div class="textSection">
                        <p class="title">Babylon, Indian tea</p>
                        <div class="stats"><span class="mark">9.3</span>/<span class="orders">132</span></div>
                        <p class="price">15.99$</p>
                    </div>
                    <button class="btnPos">ADD</button>
                </div>

                <div class="listItem">
                    <div class="textSection">
                        <p class="title">Babylon, Indian tea</p>
                        <div class="stats"><span class="mark">9.3</span>/<span class="orders">132</span></div>
                        <p class="price">15.99$</p>
                    </div>
                    <button class="btnPos">ADD</button>
                </div>

                <div class="listItem">
                    <div class="textSection">
                        <p class="title">Babylon, Indian tea</p>
                        <div class="stats"><span class="mark">9.3</span>/<span class="orders">132</span></div>
                        <p class="price">15.99$</p>
                    </div>
                    <button class="btnPos">ADD</button>
                </div>

                <div class="listItem">
                    <div class="textSection">
                        <p class="title">Babylon, Indian tea</p>
                        <div class="stats"><span class="mark">9.3</span>/<span class="orders">132</span></div>
                        <p class="price">15.99$</p>
                    </div>
                    <button class="btnPos">ADD</button>
                </div>

                <div class="listItem">
                    <div class="textSection">
                        <p class="title">Babylon, Indian tea</p>
                        <div class="stats"><span class="mark">9.3</span>/<span class="orders">132</span></div>
                        <p class="price">15.99$</p>
                    </div>
                    <button class="btnPos">ADD</button>
                </div>

                <div class="listItem">
                    <div class="textSection">
                        <p class="title">Babylon, Indian tea</p>
                        <div class="stats"><span class="mark">9.3</span>/<span class="orders">132</span></div>
                        <p class="price">15.99$</p>
                    </div>
                    <button class="btnPos">ADD</button>
                </div>

                <div class="listItem">
                    <div class="textSection">
                        <p class="title">Babylon, Indian tea</p>
                        <div class="stats"><span class="mark">9.3</span>/<span class="orders">132</span></div>
                        <p class="price">15.99$</p>
                    </div>
                    <button class="btnPos">ADD</button>
                </div>

                <div class="listItem">
                    <div class="textSection">
                        <p class="title">Babylon, Indian tea</p>
                        <div class="stats"><span class="mark">9.3</span>/<span class="orders">132</span></div>
                        <p class="price">15.99$</p>
                    </div>
                    <button class="btnPos">ADD</button>
                </div>

                <div class="listItem">
                    <div class="textSection">
                        <p class="title">Babylon, Indian tea</p>
                        <div class="stats"><span class="mark markExcellent">9.3</span>/<span
                                class="orders">132</span></div>
                        <p class="price">15.99$</p>
                    </div>
                    <button class="btnPos">ADD</button>
                </div>

                <div class="listItem">
                    <div class="textSection">
                        <p class="title">Babylon, Indian tea</p>
                        <div class="stats"><span class="mark">9.3</span>/<span class="orders">132</span></div>
                        <p class="price">15.99$</p>
                    </div>
                    <button class="btnPos">ADD</button>
                </div>

                <div class="listItem">
                    <div class="textSection">
                        <p class="title">Babylon, Indian tea</p>
                        <div class="stats"><span class="mark">9.3</span>/<span class="orders">132</span></div>
                        <p class="price">15.99$</p>
                    </div>
                    <button class="btnPos">ADD</button>
                </div>

                <div class="listItem">
                    <div class="textSection">
                        <p class="title">Babylon, Indian tea</p>
                        <div class="stats"><span class="mark">9.3</span>/<span class="orders">132</span></div>
                        <p class="price">15.99$</p>
                    </div>
                    <button class="btnPos">ADD</button>
                </div>

            </div>
        </div>

        <div class="bottom">
            <p>You are <u><strong>BUYING</strong></u> now</p>
            <div class="actions">
                <div class="btnStrongAct">
                    <button>BUY</button>
                </div>
                <div class="btnStrongAct">
                    <button>SELL</button>
                </div>
            </div>
            <div class="cart">
                <div class="btnNeut">
                    <form action="./cart.html">
                        <button>PROCEED TO CART</button>
                    </form>
                </div>
                <p class="counter">3</p>
            </div>
        </div>
{% endblock %}
