{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link href="{% static 'profile.css' %}" type="text/css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
            rel="stylesheet">
</head>
<body>
<!-- Background details -->
<img
        src="{% static 'images/behind_logo.svg' %}"
        class="bulb"
        alt="behind logo"
/>
<img src="{% static 'images/bg_wave.svg' %}" alt="wave" class="wave"/>
<img src="{% static 'images/tea_leaf.svg' %}" alt="leaf" class="leaf"/>
<img
        src="{% static 'images/tea_leaf_top.svg' %}"
        alt="leaf"
        class="leafTop"
/>

<div class="container">
    <!-- DON'T TOUCH -->
    <header>
        <nav>
            <ul>
                <li>
                    <a class="activeLink" href="./index.html">info</a
                    ><img src="{% static 'images/nav_bullet.svg' %}" alt="circle"/>
                </li>
                <li>
                    <a class="inactiveLink" href="./market.html">market</a
                    ><img src="{% static 'images/nav_bullet.svg' %}" alt="circle"/>
                </li>
                <li>
                    <a class="inactiveLink" href="drops.html">drops</a
                    ><img src="{% static 'images/nav_bullet.svg' %}" alt="circle"/>
                </li>
                <li>
                    <a class="activeLink" href="./profile.html">profile</a
                    ><img src="{% static 'images/nav_bullet.svg' %}" alt="circle"/>
                </li>
            </ul>
        </nav>
        <p>.teafy</p>
    </header>
    <!-- DON'T TOUCH -->

    <main>
        <div class="currentRating">Hi, Ivan! Your profile rating is: <strong class="markExcellent">9.3</strong></div>

        <div class="heading">Currently sold by You:</div>
        <div class="gridWrapper">
            <div class="items">
                <div class="listItem">
                    <div class="textSection">
                        <p class="title">Babylon, Indian tea</p>
                        <p class="price">15.99$</p>
                    </div>
                    <button class="btnNeg">REMOVE</button>
                </div>

                <div class="listItem">
                    <div class="textSection">
                        <p class="title">Babylon, Indian tea</p>
                        <p class="price">15.99$</p>
                    </div>
                    <button class="btnNeg">REMOVE</button>
                </div>

                <div class="listItem">
                    <div class="textSection">
                        <p class="title">Babylon, Indian tea</p>
                        <p class="price">15.99$</p>
                    </div>
                    <button class="btnNeg">REMOVE</button>
                </div>

                <div class="listItem">
                    <div class="textSection">
                        <p class="title">Babylon, Indian tea</p>
                        <p class="price">15.99$</p>
                    </div>
                    <button class="btnNeg">REMOVE</button>
                </div>

                <div class="listItem">
                    <div class="textSection">
                        <p class="title">Babylon, Indian tea</p>
                        <p class="price">15.99$</p>
                    </div>
                    <button class="btnNeg">REMOVE</button>
                </div>

                <div class="listItem">
                    <div class="textSection">
                        <p class="title">Babylon, Indian tea</p>
                        <p class="price">15.99$</p>
                    </div>
                    <button class="btnNeg">REMOVE</button>
                </div>

                <div class="listItem">
                    <div class="textSection">
                        <p class="title">Babylon, Indian tea</p>
                        <p class="price">15.99$</p>
                    </div>
                    <button class="btnNeg">REMOVE</button>
                </div>
                <div class="listItem">
                    <div class="textSection">
                        <p class="title">Babylon, Indian tea</p>
                        <p class="price">15.99$</p>
                    </div>
                    <button class="btnNeg">REMOVE</button>
                </div>

                <div class="listItem">
                    <div class="textSection">
                        <p class="title">Babylon, Indian tea</p>
                        <p class="price">15.99$</p>
                    </div>
                    <button class="btnNeg">REMOVE</button>
                </div>

                <div class="listItem">
                    <div class="textSection">
                        <p class="title">Babylon, Indian tea</p>
                        <p class="price">15.99$</p>
                    </div>
                    <button class="btnNeg">REMOVE</button>
                </div>

                <div class="listItem">
                    <div class="textSection">
                        <p class="title">Babylon, Indian tea</p>
                        <p class="price">15.99$</p>
                    </div>
                    <button class="btnNeg">REMOVE</button>
                </div>

                <div class="listItem">
                    <div class="textSection">
                        <p class="title">Babylon, Indian tea</p>
                        <p class="price">15.99$</p>
                    </div>
                    <button class="btnNeg">REMOVE</button>
                </div>

                <div class="listItem">
                    <div class="textSection">
                        <p class="title">Babylon, Indian tea</p>
                        <p class="price">15.99$</p>
                    </div>
                    <button class="btnNeg">REMOVE</button>
                </div>

                <div class="listItem">
                    <div class="textSection">
                        <p class="title">Babylon, Indian tea</p>
                        <p class="price">15.99$</p>
                    </div>
                    <button class="btnNeg">REMOVE</button>
                </div>

                <div class="listItem">
                    <div class="textSection">
                        <p class="title">Babylon, Indian tea</p>
                        <p class="price">15.99$</p>
                    </div>
                    <button class="btnNeg">REMOVE</button>
                </div>

                <div class="listItem">
                    <div class="textSection">
                        <p class="title">Babylon, Indian tea</p>
                        <p class="price">15.99$</p>
                    </div>
                    <button class="btnNeg">REMOVE</button>
                </div>

                <div class="listItem">
                    <div class="textSection">
                        <p class="title">Babylon, Indian tea</p>
                        <p class="price">15.99$</p>
                    </div>
                    <button class="btnNeg">REMOVE</button>
                </div>

                <div class="listItem">
                    <div class="textSection">
                        <p class="title">Babylon, Indian tea</p>
                        <p class="price">15.99$</p>
                    </div>
                    <button class="btnNeg">REMOVE</button>
                </div>

                <div class="listItem">
                    <div class="textSection">
                        <p class="title">Babylon, Indian tea</p>
                        <p class="price">15.99$</p>
                    </div>
                    <button class="btnNeg">REMOVE</button>
                </div>

            </div>
        </div>

        <div class="bottom">
            <div class="actions">
                <form action="./change_profile.html">
                    <div class="btnStrongAct">
                        <button>CHANGE PROFILE</button>
                    </div>
                </form>
                <form action="./cards.html">
                    <div class="btnStrongAct">
                        <button>CARDS</button>
                    </div>
                </form>
                <form action="./collection.html">
                    <div class="btnStrongAct">
                        <button>COLLECTION</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

</div>

</body>
</html>